.body-color {
  fill: #afafaf;
}
.ear-inner {
  fill: #ebc2c2;
}
.nose-inner {
  fill: #888888;
}
.freckles {
  fill: #606060;
}
.eye-inner {
  fill: #fff;
}
.pupil {
  fill: #063557;
}
.mouth-back {
  fill: #000;
}
.tongue {
  fill: #bd3a52;
}
.teeth {
  fill: #fffdea;
}
